.a1 {
	font-size: 9pt;
	text-decoration: none;
	line-height: 16px
}

.link1 {
	font-size: 9pt;
	color: #000000;
	text-decoration: none
}

.black_666666 {
	COLOR: #000000;
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
	FONT-SIZE: 11px;
	LINE-HEIGHT: 16px;
	TEXT-DECORATION: none
}

.a2 {
	font-size: 9pt;
	color: ffffff;
	text-decoration: none
}

a:hover {
	font-size: 9pt;
	text-decoration: underline
}

a:link {
	font-size: 9pt;
	text-decoration: none
}

a:active {
	font-size: 9pt;
	text-decoration: underline
}

a:visited {
	font-size: 9pt
}

.a3 {
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal
}

.a4 {
	font-size: 9pt;
	color: BCEAFC;
	text-decoration: none
}

.bg {
	font-size: 9pt;
	color: BCEAFC;
	background-color: 0F6DBA
}

.largebutton {
	font-size: 10pt;
	height: 30;
	width: 80
}

.a5 {
	font-size: 9pt;
	color: 1765A4;
	text-decoration: none
}

.a7 {
	font-size: 9pt;
	color: 333333;
	text-decoration: none
}

b {
	font-size: 9pt;
	text-decoration: none;
	line-height: 16px
}

.b {
	font-size: 9pt;
	text-decoration: none;
	line-height: 16px;
	color: #000000;
	font-family: "Arial", "Helvetica", "sans-serif"
}

b:hover {
	font-size: 9pt;
	text-decoration: underline;
	color: #000000
}

b:link {
	font-size: 9pt;
	text-decoration: none
}

b:active {
	font-size: 9pt
}

b:visited {
	font-size: 9pt;
	text-decoration: none
}

.bg1 {
	background-color: DCE3ED;
	color: #000463
}

INPUT {
	BORDER-TOP-WIDTH: 1px;
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 9pt;
	BORDER-LEFT-COLOR: #cccccc;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-BOTTOM-COLOR: #cccccc;
	PADDING-BOTTOM: 1px;
	BORDER-TOP-COLOR: #cccccc;
	PADDING-TOP: 1px;
	HEIGHT: 18px;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #cccccc;
	BACKGROUND-COLOR: #FFFFFF
}

BODY {
	SCROLLBAR-FACE-COLOR: white;
	SCROLLBAR-HIGHLIGHT-COLOR: white;
	SCROLLBAR-SHADOW-COLOR: #add0eb;
	SCROLLBAR-3DLIGHT-COLOR: #add0eb;
	SCROLLBAR-ARROW-COLOR: #5e9cc7;
	SCROLLBAR-TRACK-COLOR: white;
	SCROLLBAR-DARKSHADOW-COLOR: white
}

TEXTAREA {
	BORDER-RIGHT: #808080 1px solid;
	BORDER-TOP: #808080 1px solid;
	BORDER-LEFT: #808080 1px solid;
	BORDER-BOTTOM: #808080 1px solid BORDER-TOP-WIDTH:  1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 9pt;
	BORDER-LEFT-COLOR: #808080;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-BOTTOM-COLOR: #808080;
	BORDER-TOP-COLOR: #808080;
	FONT-FAMILY: ����;
	BACKGROUND-COLOR: #ffffff;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #808080
}

SELECT {
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 9pt;
	BORDER-LEFT-COLOR: #000000;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-TOP-COLOR: #000000;
	FONT-FAMILY: "����";
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #000000;
}

.button_4 {
	background-image: url(button_bg_4.gif);
	background-repeat: no-repeat;
	border: 0px none #F3F9FF;
	text-align: center;
	vertical-align: bottom;
	height: 18px;
	width: 65px;
	cursor: hand;
	background-position: center center;
	margin: 0px;
	padding: 0px;
	clear: none;
	float: none;
	background-position: center center;
}

.button_2 {
	background-image: url(button_bg_2.gif);
	background-repeat: no-repeat;
	border: 0px none #F3F9FF;
	text-align: center;
	vertical-align: bottom;
	height: 18px;
	width: 40px;
	cursor: hand;
	background-position: center center;
	margin: 0px;
	padding: 0px;
	clear: none;
	float: none;
	background-position: center center;
}

.a6 {
	font-size: 9pt;
	text-decoration: none;
	color: 104A7B
}