/*
*{
	margin: 0;
	padding: 0;	
}
*/

body {
	overflow: hidden;
	background: url(../../images/shell_bgimg.gif);
	font-size: 12px;
	text-decoration: none;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #333;
	text-align: left;
	direction: ltr;
	margin: 0;
	padding: 0;

	/*
	unicode-bidi: embed;
	line-height: 1.28;
	*/
	
	/* 滚动条样式
	SCROLLBAR-FACE-COLOR: white;
	SCROLLBAR-HIGHLIGHT-COLOR: white;
	SCROLLBAR-SHADOW-COLOR: #add0eb;
	SCROLLBAR-3DLIGHT-COLOR: #add0eb;
	SCROLLBAR-ARROW-COLOR: #5e9cc7;
	SCROLLBAR-TRACK-COLOR: white;
	SCROLLBAR-DARKSHADOW-COLOR: white
	 */
}

html{
	overflow: hidden;
}

/* 个别元素设置字体大小 */
.a1 {
	font-size: 12px;
	text-decoration: none;
	line-height: 16px;
}

INPUT {
	BORDER-TOP-WIDTH: 1px;
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 12px;
	BORDER-LEFT-COLOR: #cccccc;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-BOTTOM-COLOR: #cccccc;
	PADDING-BOTTOM: 1px;
	BORDER-TOP-COLOR: #cccccc;
	PADDING-TOP: 1px;
	HEIGHT: 18px;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #cccccc;
	BACKGROUND-COLOR: #FFFFFF	
}

a {
    cursor: pointer;
	color: #3b5998;
	text-decoration: none
}

a:hover {
	color: #333;
	text-decoration: none
}

a:link {
	text-decoration: none
}

a:active {
	text-decoration: none;
}

a:visited {
}

TEXTAREA {
	BORDER-RIGHT: #808080 1px solid;
	BORDER-TOP: #808080 1px solid;
	BORDER-LEFT: #808080 1px solid;
	BORDER-BOTTOM: #808080 1px solid BORDER-TOP-WIDTH:  1px;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-LEFT-COLOR: #808080;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-BOTTOM-COLOR: #808080;
	BORDER-TOP-COLOR: #808080;
	BACKGROUND-COLOR: #ffffff;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #808080
}

textarea {
	border: 1px solid #bdc7d8;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	padding: 3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0
}

select {
	border: 1px solid #bdc7d8;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	padding: 2px
}
SELECT {
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-LEFT-COLOR: #000000;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-TOP-COLOR: #000000;
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #000000;
}



form {
	margin: 0;
	padding: 0
}

label {
	cursor: pointer;
	color: #666;
	font-weight: bold;
	vertical-align: middle
}

label input {
	font-weight: normal
}

h1,h2,h3,h4,h5,h6 {
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0
}

h1 {
	font-size: 15px
}

h4,h5 {
	font-size: 12px
}

p {
	margin: 1em 0
}

img {
	border: 0
}

td,td.label {
	font-size: 12px;
}

dd {
	color: #000
}

dt {
	color: #777
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* text-align: right; */
}

hr {
	background: #d9d9d9;
	border-width: 0;
	color: #d9d9d9;
	height: 1px
}


