/******************************************************
 * @SHELL Gloable CSS v1.0
 *
 * DateTime: 2012.6.6
 * By changming.Y
 *
 *****************************************************/


/* @SHELL全局样式-div可以水平排列 对IE失效 */
.shell_inline_block{
    position: relative;
	display: inline-block;
}

/* @SHELL用户身份面板 被选择样式 */
.shell_item_selected{
	border:1px solid #149525 !important;
	background-color:#D7F8AC !important;
	background-image: url(../../images/checked.png) !important;
	background-repeat:no-repeat;
	background-position:right bottom;
}

/* @SHELL用户身份面板 */
.shell_user_identity {
    color: #000000;
    background-color: #F4F4F4;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F4F4F4);
    border: 1px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 #AAAAAA;
    opacity: 1;
    padding: 4px;
    vertical-align: top;
    width: 128px; 
    height: 48px; 
    margin-right: 16px;
    margin-top: 9px;
    margin-left: 0px;
    margin-bottom: 9px;
}
/* @SHELL用户身份面板 头像 */
.shell_user_identity_img {
    border: medium none;
    border-radius: 0 0 0 0;
    float: left;
    width: 48px;
    height: 48px;
}
/* @SHELL用户身份面板 文字介绍 */
.shell_user_identity_intro {
    font-size: 13px;
    overflow: hidden;
    padding: 8px 4px 4px;
    width: 68px;
    word-wrap: break-word;
}
/* @SHELL用户身份面板 鼠标划过效果 */
.shell_user_identity:HOVER {
	color: #333;
	cursor:pointer;
	border-color: #999;
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


/* @SHELL工具栏 */
.shell_toolBar{
	/*
	background: none repeat scroll 0 0 #E3EDFF;
	margin-bottom: 10px;
	margin-right: 400px;
	*/
	width: 100%;
	padding: 0px;
	border:0px solid;
	border-color: #999999 #999999 #888888;
	border-bottom: 0px solid #DDDDDD;
  		
}
/* @SHELL工具栏 按钮 */
.shell_tool_btn {
	/*
	background-image:url("../../images/facebook.png");
	border: 1px solid #999;
	line-height: 13px;
	*/
	background-position: -352px -348px;
	background-repeat: no-repeat;
	background-color: #E3EDFF;
	border-bottom-color: #888;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	border-image: initial;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 9px;
	margin-left:3px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	color: #666;
	
}
/* 鼠标划过@SHELL工具栏按钮,突起效果 */
.shell_tool_btn:HOVER {
    border-color: #999;
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) ;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
	cursor:pointer;
	
	background-image:url("../../images/facebook.png");
	border: 1px solid #999;
}
/* 鼠标激活@SHELL工具栏按钮 */
.shell_tool_btn:ACTIVE {
	background-image: none;
}


/* @SHELL工具栏搜索框样式 */
.shell_tool_search{
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    padding: 1px 0 2px;
    position: relative;
    display: inline-block;
    /*
    */	
}
/* @SHELL工具栏搜索文本框样式 */	
.shell_tool_search input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #E5E5E5 -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    margin: 2px 22px 1px 5px;
    outline: medium none;
    padding: 1px 5px 2px 0;
    width: 130px;
}
/* @SHELL工具栏搜索按钮样式 */	
.shell_tool_search button {
    background-color: #FFFFFF;
    background-image: url("../../images/facebook_img.png");
    background-position: -265px -208px;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 19px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
}


/* @shell翻页导航栏 */
.shell_pagination_navi{
    border-top: 0px solid #CCCCCC;
    margin: 0px 0px 0;
    padding: 5px 0px 5px;
}
 
 /* 有部分css冲突 必须加上 .devsitePage .body | @shell翻页导航栏内部ul样式 */
.devsitePage .body .shell_pagination_navi ul {  
	margin: 0;
	padding-left:0;   
	text-align: right;
}
 
/* @shell翻页导航栏 单个页码样式 */ 
.shell_pagination_navi li{
	list-style-type: none;
	display: inline;
	padding-bottom: 1px;
	text-align: center;
}
 
/* @shell翻页导航栏 超链接样式 */ 
.shell_pagination_navi a, .shell_pagination_navi a:visited{
	padding: 2px 6px;
	border: 1px solid #9aafe5;
	text-decoration: none;
	color: #2e6ab1;
	
}
 
/* @shell翻页导航栏 页码划过和激活样式 */
.shell_pagination_navi a:hover, .shell_pagination_navi a:active{
	border: 1px solid #2b66a5;
	color: #000;
	text-decoration:none;
	background-color: lightyellow;
}
 
/* @shell翻页导航栏 当前页（页码）样式 */ 
.shell_pagination_navi li.currentpage{
	font-weight: bold;
	padding: 2px 6px;
	border: 1px solid navy;
	background-color: #2e6ab1;
	color: #FFF;
}
 
/* @shell翻页导航栏 失效页码样式 */ 
.shell_pagination_navi li.disablepage{
	padding: 2px 6px;
	border: 1px solid #929292;
	color: #929292;
}
 
.shell_pagination_navi li.nextpage{
}



/* @shell表单样式 */
.shell_form input {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    margin: 0 0 8px 8px;
    border: 1px solid #bdc7d8;
    outline: medium none;
    width: 30%;
    height: 20px;
}



/* @shell tab导航样式 */
ul.shell_tab_container_nav {
    background: url("../../images/pixel.gif") repeat-x scroll left bottom transparent;
    float: left;
    list-style-type: none;
    width: 100%;
}
ul.shell_tab_container_nav li {
    float: left;
    margin: 0 2px 0 0;
    list-style: none;
}
ul.shell_tab_container_nav a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #666666;
    display: block;
    float: left;
    font-weight: bold;
    padding: 4px 8px;
    text-decoration: none;
}
ul.shell_tab_container_nav a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
ul.shell_tab_container_nav a.active {
    background: none repeat scroll 0 0 #FFFFFF;
    /*color: #0000FF;*/
    cursor: default;
    padding-bottom: 5px;
}
/* @shell tab内容样式 */
.shell_tabs_container {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    clear: left;
    padding: 10px 8px 0;
    overflow: auto;
}


/* @SHELL 确定 取消 按钮样式 */
.shell_btn_okcancle {
	background-color: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    padding-top:5px;
    padding-bottom:15px;
    text-align: right;
}
.shell_btn_okcancle input{
	background-color: #627AAD;
    border-color: #B8D4E8 #124680 #124680 #B8D4E8;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    margin-right: 5px;
    padding: 2px 10px;
    text-align: center;
	opacity: 1
}



/* @SHELL 数据表格 */
.shell_grid {
	width: 100%;
}

/*
.shell_grid table {
	border-collapse: collapse;
	width: 100%;
	border-spacing: 0;
	border-left: solid 1px #bbb;
	margin: 0;
}

.shell_grid table tr{
}

.shell_grid table th{
	background-image:url("../../images/facebook.png");
	background-repeat: repeat;
	background-position: -352px -348px;
	background-color: #EEE;
	border-bottom-color: #888;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	border-image: initial;
    font-weight: bold;
}

.shell_grid table td,.shell_grid table th {
	border: 1px solid #bbb;
	color: #666666;
    font-size: 12px;
	text-align: left;
    text-decoration: none;
	padding-left: 6px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
	vertical-align: middle;
    white-space: nowrap;
}
*/

/* @SHELL 搜索框  */
.uiTypeahead {
	background: #fff;
	border: solid #bdc7d8;
	border-width: 1px 0;
	cursor: default;
	width: auto
	/*
	position: relative
	*/
}
.uiTypeahead .wrap {
	border: solid #bdc7d8;
	border-width: 0 1px;
	width: auto
}
.uiTypeahead .innerWrap {
	overflow: hidden;
	zoom: 1;
	width: auto
}
.uiTypeahead .textInput {
	background-color: transparent;
	border: 0;
	outline: 0;
	width: auto
}
.uiTypeahead .selected {
	background-color: #e2e8f6
}

/************************************************************************************************************************/

.shellPage .clear {
	clear: both;
}

.shellPage{
	width:100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
}


.shellPage .body{
	border: 0px solid #000;
	width: 100%;
	height:auto;
	
	position: absolute;
	top:42px;
	overflow: hidden;
}


/* 左侧导航栏  */
.shellPage .bodyMenu {
	float:left;
	display: inline;
	overflow: hidden;
	width: 200px
}


/*--- 设置主内容区域样式  ---*/
.shellPage .body .content {
	/*
	position: absolute;
	top: 0;
	bottom: 0px;
	left: 200px;
	right: 0;
	*/
	margin-left:-250px;
	float: right;
	border: 0px solid #d9d9d9;
	border-top: 0;
	overflow:hidden;
	width:100%;
	height:auto
}


.shellPage .body .content .contentWrap{
	border: 1px solid #d9d9d9;
	margin-left: 200px;
	overflow-x: auto;
	overflow-y: auto;
	/*
	margin-right: 20px;
	width:auto;
	min-height: 300px
	background: #fff;
	*/
}


.shellPage .body pre,.shellPage .body p,.shellPage .body li,.shellPage .body dt,.shellPage .body dd,.shellPage .refindex .page,.shellPage .body textarea,.shellPage .body td
{
	line-height: 18px
}

.shellPage dl,.shellPage dt,.shellPage dd {
	margin: 0
}

.shellPage dd,.shellPage .refindex .page {
	margin-bottom: 10px
}

.shellPage dd p,.shellPage .refindex .page .snippet p {
	margin: 0
}

.shellPage dt,.shellPage .refindex .page .title {
	font-weight: bold
}

.shellPage dt a.private,.shellPage .refindex .page .title a.private,.shellPage .bodyMenu li a.private
	{
	/*
	background:
		url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/uADs2cgkzVe.png)
		no-repeat left center;
	*/
	padding-left: 13px
}

.shellPage .metanotice {
	background: #fff9d7;
	border: 1px solid #e2c822;
	padding: 1em;
	margin: 1em
}

.shellPage textarea {
	resize: none
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden
}

.clearfix {
	display: block;
	zoom: 1
}

.shellPage #DeveloperAppBody>.content {
	padding-top: 60px
}

.shellPage .devAppTitle {
	font-size: 19px
}

.shellPage #developerAppNav ul {
	padding-left: 0
}

.shellPage .developerAppDashLeft {
	border-top: 1px solid #ccc;
	width: 20%;
	float: left
}

.shellPage .developerAppDashRight {
	width: 80%;
	float: right
}

.shellPage .developerAppDetailsLeft {
	width: 20%;
	float: left
}

.shellPage .developerAppDetailsRight {
	width: 80%;
	float: right
}

.shellPage #DeveloperAppDashHeader {
	margin: -8px 0 6px -4px
}

.shellPage #developerAppHeader {
	margin: -8px 0 -8px 0
}

.shellPage #DeveloperAppDashHeader {
	min-height: 32px !important
}

.shellPage .dashboardHeader .dashboardTitle {
	font-size: 19px;
	font-weight: bold
}

.shellPage .dashboardHeader .dashboardTitle a {
	color: #000
}

.shellPage .dashboardHeader .appTypeahead {
	display: inline-block;
	margin: 0 5px 0 0
}

.shellPage .uiTypeahead ul {
	margin: 2px 0;
	padding: 0
}

/* 左侧导航 */
.shellPage .toplevelnav{
	/*position: absolute;
	top: 0;
	right:0;
	left: 30px;
	
	*/
	margin-left: 30px;
	margin-top:10px;
	width: 170px;
}


.shellPage .directoryStatus,.shellPage span.dirPending,.devaitePage span.dirUnsubmitted
	{
	color: #666
}

.shellPage .appNameTitleBar {
	font-size: 19px
}

.shellPage img.appLogo {
	max-height: 40px;
	width: 40px
}

.shellPage span.dirApproved {
	color: #008000
}

.shellPage span.dirDenied {
	color: #a00
}

.shellPage .body h3.uiHeaderTitle,.shellPage .body #developerAppDetailsContent p
	{
	font-size: 12px;
	margin: 0
}

.shellPage #developerAppDashContent td,.shellPage #developerAppDetailsContent td,.shellPage #developerAppDetailsContent div
	{
	line-height: normal;
	font-size: 12px
}

.shellPage td.overviewHeaderColumn {
	width: 100px
}

.shellPage td.headerColumn {
	width: 220px
}

.shellPage #developerAppDashContent td.contentColumn div {
	width: 250px
}

.shellPage #developerAppDashContent td.contentPane {
	padding: 0
}

.shellPage #developerAppDashContent #test_accounts {
	padding: 5px
}

.shellPage .uiFacepile ul {
	padding: 0
}

.shellPage div.content_loading {
	/*
	background:
		url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/jKEcVPZFk-2.gif)
		center no-repeat;
	*/	
	height: 400px;
	min-width: 250px;
	overflow: hidden
}

.shellPage .noApps {
	font-size: 13px;
	font-weight: bold;
	padding: 20px 0;
	text-align: center
}

.shellPage #developerAppDetailsContent td.contentPane,.shellPage #developerAppDetailsContent .inputtext
	{
	width: 400px
}

.shellPage #developerAppDetailsContent .textfield_array_input_text {
	width: 80%
}

.shellPage #developerAppDetailsContent .shortinput .inputtext {
	width: 140px
}

.shellPage #developerAppDashContent .devAppInsights .fbInsightsTinyStatistic
	{
	float: right
}

.shellPage #developerAppDashContent .editSettings {
	text-align: center
}

.shellPage #contentCol {
	background: none;
	padding-top: 8px
}

.shellPage .developerAppDashLeft .toplevelnav a,.shellPage .developerAppDashLeft .toplevelnav a:hover,.shellPage .uiTypeahead li
	{
	font-size: 12px
}

.shellPage .throbber {
	text-align: center;
	vertical-align: middle
}

.shellPage img.throbber {
	display: inline-block;
	padding-bottom: 8px;
	visibility: hidden
}

.shellPage .async_saving img.throbber {
	visibility: visible
}

.shellPage .developerAppDashLeft .seeAllApps {
	margin: 10px 0;
	text-align: center
}

.shellPage .developerAppDashLeft .newAppButton {
	width: 162px
}

.shellPage .developerAppAccessToken {
	display: inline
}

.shellPage .developerAppDashRight .name,.shellPage .developerAppDashRight .desc
	{
	margin-left: 105px
}

.shellPage .developerAppDashRight .thumbnail .img {
	border: none
}

.shellPage .home .header {
	/*
	background: #f2f2f2
		url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/e4jQ5MXLYQ8.png) top
		center no-repeat;
	*/	
	border: 1px solid #ddd;
	height: 302px;
	margin-top: -7px
}

.shellPage .home .header .content {
	padding: 70px 235px 0 330px;
	width: 385px
}

.shellPage .home .header h1 {
	font-size: 31px;
	font-weight: normal
}

.shellPage .home .header .subtitle {
	margin: 15px 0;
	font-size: 15px;
	color: #808080;
	line-height: 18px
}

.shellPage .home .header a.button {
	cursor: pointer;
	text-indent: 0
}

.shellPage .home .header a.button span {
	display: inline-block;
	/*
	background:
		url(http://static.ak.fbcdn.net/rsrc.php/v1/yA/r/5avmcNdTn0T.png) 7px
		center no-repeat;
	*/	
	padding-left: 20px
}

.shellPage .body .section {
	float: left;
	width: 300px
}

.shellPage .body .section h2 {
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #d2d2d2;
	padding: 0 0 10px 0;
	margin: 0 0 15px 0
}

.shellPage .body .section .caption {
	font-size: 12px;
	line-height: 14px;
	color: #808080
}

.shellPage .body .section ul li {
	margin-bottom: 10px
}

.shellPage .body .sectionApps,.shellPage .body .sectionNew {
	margin-right: 20px
}

.shellPage .body .sectionApps ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.shellPage .body .sectionApps ul li {
	margin-bottom: 5px
}

.shellPage .body .sectionApps ul li .image {
	float: left;
	margin-right: 5px
}

.shellPage .body .sectionApps ul li .item {
	padding: 7px 0
}

.shellPage .body .sectionApps ul li a {
	font-weight: bold
}

.shellPage .body .sectionNew ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.shellPage .body .sectionNew ul li {
	/*
	background:
		url(http://static.ak.fbcdn.net/rsrc.php/v1/yY/r/1gBp2bDGEuh.gif) 0 2px
		no-repeat;
	*/
	padding-left: 22px
}

.shellPage .body .sectionNew ul li .title {
	font-weight: bold
}

.shellPage .body .sectionNew ul li.readmore {
	background: none
}

.shellPage .body .sectionNew ul li.readmore a {
	font-weight: bold;
	/*
	background:
		url(http://static.ak.fbcdn.net/rsrc.php/v1/yI/r/llncLdVc0JC.gif)
		no-repeat right center;
	*/
	padding-right: 9px
}

.shellPage .body .sectionShowcase .caption {
	margin-top: 15px
}

.shellPage .plugin_form {
	float: left;
	background: #efefef;
	margin: 10px 20px 15px 0;
	padding: 10px;
	border-top: solid #C1C1C1 1px;
	width: 220px
}

.shellPage .plugin_form dt {
	color: #666
}

.shellPage .plugin_form dt a.uiTooltip {
	font-weight: normal;
	font-size: 12px
}

.shellPage .plugin_form dd {
	padding: 5px 0 10px 0;
	border-bottom: solid #D0D0D0 1px;
	margin-bottom: 5px
}

.shellPage .plugin_form dd label {
	color: #000;
	font-weight: normal
}

.shellPage .plugin_form .wideinputtext {
	width: 210px
}

.shellPage .plugin_example {
	float: left;
	width: 420px;
	padding: 10px
}

.shellPage .dark_background {
	background-color: #333
}

.shellPage .nofloat {
	float: none
}

.dialog_body {
	padding-bottom: 0
}

.dialog_body .code {
	margin-bottom: 16px
}

.dialog_body .code div {
	margin: 5px 0
}

.dialog_body .code input,.dialog_body .code textarea {
	width: 416px
}


.shellPage .body ol,.shellPage .body ul {
	list-style-type: disc;
	/* padding-left: 3em */
}

.shellPage .body .uiSelector ul,.shellPage .body ul.uiList {
	list-style-type: none;
	margin: 0;
	padding-left: 0
}

.shellPage .body ol {
	list-style-type: decimal
}

.shellPage .body strong {
	font-weight: bold
}

.shellPage em,.shellPage .body i {
	font-style: italic
}

.shellPage .body h1 {
	font-size: 29px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 8px
}

.shellPage .body h2 {
	font-size: 21px;
	font-weight: normal;
	letter-spacing: -0.03em;
	margin: 25px 0 15px 0
}

.shellPage .body h3 {
	font-size: 16px;
	margin: 15px 0 10px 0
}

.shellPage .body dl,.shellPage .body table,.shellPage .body pre,.shellPage .body ul,.shellPage .body ol,.shellPage .body p
	{
	margin: 0;
	/* margin-bottom: 1em */
}

.shellPage .body pre,.shellPage .body code,.shellPage .body table.params td.name
	{
	font-family: monospace;
	color: #006000;
	font-size: 14px
}

.shellPage .body h2 code {
	font-size: inherit
}

.shellPage .body pre,.shellPage .body .pre {
	background: #f2f2f2;
	border: 1px solid #d8dfea;
	border-left-width: 3px;
	margin: 18px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	overflow: auto
}

/* 
table {
.shellPage .body table { 
	margin-bottom: 1em
}
*/

/* 
table td,table th {	
.shellPage .body table td,.shellPage .body table th {  
	border: 1px solid #bbb;
	text-align: left;
	padding: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	vertical-align: top
}
*/

.shellPage .body table.noborder td {
	border: 0
}

.shellPage .body table.bordered td,.shellPage .body table.bordered th
	{
	border: 1px solid #ddd
}

.shellPage .body table.uiGrid td {
	border: 0
}

.shellPage .body table td p:last-child {
	margin-bottom: 0
}

.shellPage .body table.uiInfoTable {
	width: auto
}

.shellPage .body table.uiInfoTable td,.shellPage .body table.uiInfoTable th
	{
	border: 0;
	padding: 6px;
	width: auto;
	height: auto;
	vertical-align: middle
}

.shellPage .body table.uiInfoTable th {
	width: auto
}




/* 页脚 */
.shellPage .footer {
	margin-left:200px;	
	color: #777;
	padding-top: 10px
}

/* 页脚内容区域 */
.shellPage .footer .content {
	/*
		margin: 0 auto;
		max-width: 980px;
	*/
	margin-right: 5px;
	margin-left: 200px;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px
}

.shellPage .footer .copyright {
	float: left
}

.shellPage .footer .links {
	text-align: right
}

.shellPage .footer .links a {
	margin-left: 15px
}

.shellPage .header {
	background: white;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 25px;
	padding-top: 0
}

.shellPage .header h1 {
	margin: 0;
	font-size: 25px;
	font-weight: normal
}

.shellPage .header h1 a {
	color: #333;
	text-decoration: none
}

.shellPage .header .breadcrumbs {
	margin-top: 4px
}

.shellPage div.admin {
	background: #eee;
	border: 1px solid #ddd;
	float: right;
	font-size: 12px;
	z-index: 0;
	padding: 8px;
	position: relative
}

.shellPage div.admin a {
	margin: 0 6px
}

.shellPage div.admin a.gatekeeper {
	background:
	/*	url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/uADs2cgkzVe.png) */
		no-repeat left center;
	padding-left: 12px;
	font-weight: bold
}

.shellPage .body .titleblock {
	margin: 20px 0
}

.shellPage .body .titleblock h1 {
	font-size: 25px;
	font-weight: normal;
	padding: 0
}

.shellPage .body .titleblock h3 {
	color: #797c80;
	font-size: 17px;
	font-weight: normal;
	line-height: 22px;
	margin: 0 0 3px 0;
	padding: 0
}

.shellPage .body .titleblock div.stats {
	margin-top: 20px
}

.shellPage .body .titleblock .statsbox {
	background: #eee;
	float: right;
	padding: 20px 20px 10px 20px;
	width: 200px
}

.shellPage .body .titleblock div.stats .statsbox li {
	color: #333;
	font-size: 12px;
	line-height: 14px
}

.shellPage .body .titleblock div.stats ul {
	color: #627aad;
	list-style-type: square;
	padding: 0 0 0 17px
}

.shellPage .body .titleblock div.stats li {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 5px
}

.shellPage .body .titleblock div.stats li span {
	color: #333
}

.shellPage .body .titleblock img {
	float: left;
	height: 65px;
	margin: 0 10px 0 0
}

.shellPage .body p.intro {
	color: #797c80;
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 20px
}

.shellPage .body p.intro b {
	color: #444
}

.shellPage .body .contentblock {
	clear: right;
	float: left;
	margin: 1.5em 0;
	position: relative;
	width: 100%
}

.shellPage .body hr {
	clear: right;
	margin: 20px 0
}

.shellPage .body h3 {
	margin-top: 25px
}

.shellPage .body .contentblock h2 {
	margin: 0 0 15px 0;
	padding: 0
}

.shellPage .body .contentblock h2.mbn {
	margin: 0
}

.shellPage .body .contentblock h3 {
	color: #999;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 20px 0
}

.shellPage .body .contentblock h4 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 4px
}

.shellPage .body .contentblock p {
	color: #333;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 18px
}

.shellPage .body .contentblock a.more {
	background: /*url(/attachment/more.png)*/ no-repeat 100% 3px;
	padding-right: 10px
}

.shellPage .body .contentblock img.right {
	float: right;
	margin: 0 0 10px 20px
}

.shellPage .body .contentblock img.left {
	display: table-cell;
	float: left;
	margin: 0 20px 10px 0
}

.shellPage .body .contentblock img.bleed {
	margin-right: -16px
}

.shellPage .body .contentblock img.bordered {
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 5px
}

.shellPage .body .contentblock ol {
	margin: 10px 0;
	padding: 0 0 0 23px
}

.shellPage .body .contentblock ol li {
	margin-bottom: 10px
}

.shellPage .body .fleft {
	float: left;
	width: 357px
}

.shellPage .body .fright {
	float: right;
	width: 357px
}

.shellPage .body .fleft ul,.shellPage .body .fright ul {
	list-style-type: square;
	margin: 0;
	padding: 0 0 0 20px
}

.shellPage .body .fleft ul li,.shellPage .body .fright ul li {
	margin: 0 0 10px 0
}

.shellPage .body .fcol {
	float: left;
	width: 231px
}

.shellPage .body .poq {
	background: #f1f2f9;
	margin-bottom: 20px;
	margin-top: -20px;
	padding: 20px
}

.shellPage .body .poq p {
	color: #666
}

.shellPage .body .poq p.small {
	color: #999;
	font-size: 12px;
	margin: 0
}

.shellPage .body .poq .credit img.left {
	margin-right: 10px
}

.shellPage .body .poq.right {
	float: right;
	margin-left: 20px;
	width: 280px
}

.shellPage .body .poq.left {
	float: left;
	margin-right: 20px;
	width: 280px
}

.shellPage .body .pagebottom {
	border-top: 1px solid #ddd;
	clear: both;
	height: 25px;
	padding-top: 20px
}

.shellPage .body .pagebottom a.right {
	float: right
}

.shellPage .body .pagebottom a.left {
	float: left
}

.shellPage .thumbnail {
	float: left;
	margin-right: 10px
}

.shellPage .thumbnail .img {
	border: 1px solid #ccc
}

.shellPage .plugin .name,.shellPage .plugin .desc {
	margin-left: 143px
}

.shellPage .plugin .name {
	font-size: 17px;
	line-height: 24px
}

.shellPage .timestamp {
	color: #666;
	font-size: 12px
}

.shellPage .clearcols {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0
}

/* 顶部导航栏 */
.shellPage .menu {
	background: #3b5998;
	font-weight: bold;
	padding-top: 0px;
	width: 100%;
	height:42px;
	z-index: 100;
	position: fixed;
	top: 0;
	left:0;
	right:0
}

.shellPage .menu .topNavWrapper{
	margin-left: 200px;
	margin-top:8px;	
	background: #627aad;
	height:32px;
	border: 1px solid #1a3c6c;
	border-bottom: 0;
}

.shellPage .menu .topNav {
	overflow:hidden;
	margin-left: -300px;
	float: right;
	width:100%;
	font-size: 13.5px;
}



.shellPage .menu,.shellPage .menu a {
	color: #fff
}

.shellPage .menu .logo {
	float: left;
	height: 42px;
	width: 200px;
	/*
	display: block
	*/
}

.shellPage .menu .logo img {
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-left: 17px;
}

.shellPage .menu a.l {
	display: block;
	float: left;
	line-height: 29px;
	padding: 2px 11px 2px
}

.shellPage .menu a.l:hover,.shellPage .menu .logo:hover {
	background: #1a3c6c;
	text-decoration: none
}

.shellPage .menu .search {
	float: right;
	padding: 5px 10px;
	width: 280px
}

.shellPage .menu .uiTypeahead {
	border: 0
}

.shellPage .menu .uiTypeahead .wrap {
	border: 0
}

.shellPage .menu .uiSearchInput {
	border: 0
}

.shellPage .menu .uiSearchInput input {
	width: 270px
}

.shellPage .menu .uiSearchInput span {
	border: 0;
	padding: 0
}

.shellPage .menu .uiSearchInput button {
	top: 1px
}

.shellPage .menu .uiTypeaheadView {
	z-index: 1
}

.shellPage .menu .uiTypeaheadView li {
	color: #3b5998
}

.shellPage .menu .inputtext {
	border: 0;
	padding: 5px 4px
}



.shellPage #navsubsectionpages {
	margin-top: 20px
}

.shellPage #navsubsectionpages h5 {
	color: #777;
	font-size: 12px;
	margin: 25px 0 10px 10px
}

.shellPage #navsubsectionpages ul {
	margin-left: 10px
}

.shellPage #navsubsectionpages li {
	border: 0;
	font-size: 12px;
	padding: 1px 0
}

.shellPage #navsubsectionpages li a {
	padding: 0
}


/********************************************************************************************************/

/* 内容主显示区域 */
.shellPage .bodyText {
	margin-left: 8px;
	margin-top: 10px;
	margin-right: 8px;
	margin-bottom:10px;
}

.shellPage .bodyMenu li a.private.selected {
	/*background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yE/r/JQgQHls27pw.png),url(http://static.ak.fbcdn.net/rsrc.php/v1/y9/r/uADs2cgkzVe.png);*/
	background-position: 160px center, left center;
	background-repeat: no-repeat, no-repeat
}

.shellPage .bodyMenu li a.private {
	margin-left: 5px
}

.shellPage .bodyMenu.fixed {
	position: fixed
}

.shellPage .bodyMenu.fixedScrolling {
	bottom: 0
}

.shellPage .bodyMenu .title {
	color: #666;
	font-size: 25px;
	font-weight: normal;
	line-height: 28px;
	margin: 0;
	padding: 0
}

.shellPage .bodyMenu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 0
}

.shellPage .bodyMenu li {
	margin: 0
}

.shellPage .bodyMenu h4,.shellPage .bodyMenu li a {
	padding: 6px 6px 6px 10px
}

.shellPage .bodyMenu h4 {
	font-size: 17px;
	font-weight: normal;
	color: #666;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 8px
}

.shellPage .bodyMenu li a {
	display: block
}

.shellPage .bodyMenu li a.selected {
	color: #333;
	font-weight: bold;
	background:
	/*	url(http://static.ak.fbcdn.net/rsrc.php/v1/yE/r/JQgQHls27pw.png) */
		no-repeat right center
}

.shellPage .bodyMenu li ul.subsections li a.selected {
	background-image: none
}

.shellPage .body.reference hr {
	border: 0;
	background-color: #d2d2d2;
	height: 1px;
	margin: 0;
	margin-top: 40px
}

.shellPage .body.reference h2 {
	font-weight: normal;
	color: #666;
	font-size: 17px;
	margin-bottom: 16px
}

.shellPage .body div.fql_example {
	margin-bottom: 1em
}

.shellPage .bodyMenu .toplevelnav ul.subsections {
	margin: 0;
	padding: 0
}

.shellPage .bodyMenu .toplevelnav li {
	border-bottom: 1px solid #e5e5e5
}

.shellPage .bodyMenu .toplevelnav li.active.withsubsections {
	padding-bottom: 5px
}

.shellPage .bodyMenu .toplevelnav li:first-child {
	border-top: 1px solid #e5e5e5
}

.shellPage .bodyMenu .toplevelnav ul.subsections li {
	border: 0;
	padding: 0 0 0 25px
}

.shellPage .bodyMenu .toplevelnav ul.subsections li a {
	color: #333;
	font-size: 13px;
	padding: 3px 6px
}

.shellPage .bodyMenu .toplevelnav li a:hover {
	/* background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yE/r/JQgQHls27pw.png) 
		no-repeat right center;
	color: #333;
	*/
	text-decoration: none
}

.shellPage .bodyMenu .toplevelnav li ul.subsections li a:hover {
	background-image: none
}

.shellPage .bodyMenu .toplevelnav ul li img.imgWrap {
	float: left;
	margin: 6px 0 0 5px
}

.shellPage .bodyMenu .toplevelnav ul li a.aWrap {
	display: inline-block;
	width: 128px
}



