<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="cacheFactory" class="shell.framework.cache.CacheFactory">
		<property name="cacheProvider">
			<ref local="ehCacheProvider"/>
		</property>
	</bean> 	
 
	<bean id="ehCacheProvider" class="shell.framework.cache.EhCacheProvider" />

	<bean id="cacheUtil" class="shell.framework.cache.support.CacheUtil" init-method="initial" lazy-init="false">
		<property name="cacheFactory">
			<ref local="cacheFactory" />
		</property>
		<!-- 初始化cache，但没有数据填充cache -->
		<property name="cacheRegionList">
			<list>
				<!-- 用户缓存区域 -->
				<value>userCache</value>
				<!-- 用户登录信息缓存区域 -->
				<value>loginInfoCache</value>
				<!-- 部门树缓存区域 -->
				<value>departmentCache</value>
				<!-- 用户最终角色缓存区域 -->
				<value>userRoleCache</value>
				<!-- 系统功能树缓存区域 -->
				<value>functionCache</value>
			</list>
		</property>
	</bean>
	
	<!-- 系统缓存初始化 -->
 	<bean id="sys.cacheInitializer" class="shell.framework.cache.SystemCacheInitializer" init-method="initial" lazy-init="false" depends-on="cacheUtil">
 		<property name="jdbcBaseDao">
			<ref bean="baseDaoTemplate.Jdbc"/>
		</property>
 	</bean>

</beans>